@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  font-size: 40px;
}
/*Use 'margin: auto' for non flexbox/grid projects */


/* Fits images in containers no matter the size */

img {
   max-width: 100%;
   height: auto;
}

.canvas {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.pager-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pager-box {
  width: 794px;
  height: 252px;
  background-color: #283033;
  color: #F8F8F8;
  border: 2px solid black;
  margin: 0 0 110px 0;
  padding-top: 26px;
}

.pager-bottom-margin {
  margin-bottom: 23px;
}

.phone-box {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  width: 794px;
  height: 916px;
  border: 2px solid black;
  background-color: #D9D9D9;
  padding-top: 26px;
  margin-bottom: 20px;
}

.pager-text-sent {
  width: 737px;
  height: 138px;
  background-color: #9EC4B3;
  margin: 0 auto;
  border: 2px solid black;
}

.pager-text-typed {
  width: 752px;
  height: 148px;
  background-color: #444444;
  color: #F8F8F8;
  border: 2px solid black;
  margin: 22px 0 0 22px;
}

.phone-title {
  display: flex;
  justify-content: center;
  width: 794px;
  height: 40px;
}

.number-box {
  display: grid;
  width: 752px;
  height: 450px;
  /* border: 2px solid black; */
  grid-template:  repeat(4, 94px) / repeat(3, 238px);
  gap: 18px;
  margin-left: 22px;
  margin-top: 19px;
}

.btn {
  width: 752px;
  height: 94px;
  outline: none;
}

.send-btn {
  margin: 0px 0px 18px 22px;
  background-color: #3D9C7C;
  color: #F8F8F8;
}

.reset-btn {
  margin: 18px 0 18px 22px;
  background-color: #BE482A;
  color: #F8F8F8;
}